@font-face { font-family: Avenir Next; src: url('Avenir Next.ttc'); }
@font-face { font-family: Insaniburger; src: url('Insanibu.ttf'); }

body {
  font-family: 'Raleway', sans-serif;
}

header{
  /*background-color: #7BC794;*/
  /*position: absolute;*/
  z-index: 3;
}

#container{
  width: 100%;
}

/*////////////////////////nav bar style ///////////*/

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 5px;
  outline: none;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
}

nav a:hover,
nav a:focus {
  outline: none;
}


.nav-bar a {
  padding: 0.5em;
  color: #333333;
/*  font-weight: 700;*/
  text-shadow: none;
  font-family: Insaniburger;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.nav-bar a::before,
.nav-bar a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #7BC794;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.nav-bar a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.nav-bar a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.nav-bar a:hover,
.nav-bar a:focus {
  color: #7BC794;
}

.nav-bar a:hover::before,
.nav-bar a:focus::before,
.nav-bar a:hover::after,
.nav-bar a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/*////////////////////////portfolio style ///////////*/

#portfolio-content{
  position: relative;
}

#filters{
  position: relative;
}

#image-holder{
  position: relative;
  width: 100%;
}

.item {
  width: 100%;
  position: relative;
  top: 0;
}

.item img{
  width: 100%;
}

.item.w2 {
  width: 100%;
}


#index-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.videoContainer
{
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}

.videoContainer video
{
    min-width: 100%;
    min-height: 100%;
}

.index-logo{
  position: absolute;
  z-index: 2;
  left: 30%;
  top: 6%;
}

.project-item {
  display: inline-block;
  width: 25%;
  padding-right: 0.5%;
  /*position: relative;*/
}

/*.isotope {
  background: #DDD;
  max-width: 1200px;
}

 clear fix
.isotope:after {
  content: '';
  display: block;
  clear: both;
}
*/
