<div id="content">
</div><!--//// close content ////////-->
<!-- ////////////////////////////////////////////// index-template //////////// -->
<script type='text/template' id='index-template'>
  <div id="index-content">

  <!-- //// add a static effect over the top of this image with javascript -->
  <div class="index-logo">
    <!--//////// position this in the center on top of the full screen image -->
    <img src="index-logo-goes-here">
  </div><!--//////// close index-logo ///////////////-->
  <img src="fullscreen-image-goes-here">

  <div><!--///close index-content //////////////////// -->
</script>

<!-- ////////////////////////////////////////////// about-template //////////// -->
<script type='text/template' id='about-template'>
  <div id="about-content">
    <p>dkdsjkdfkjdfkjskjdfkjdfks</p>
  <div><!--///close about-content //////////////////// -->
</script>


<!-- ////////////////////////////////////////////// about-template //////////// -->
<script type='text/template' id='portfolio-template'>
  <div id="portfolio-content">

    <div id="filters" class="button-group">
      <button data-filter="*">show all</button>
      <button data-filter=".web-development">Web Development</button>
      <button data-filter=".three-js">Three js</button>
    </div>

    <div class="project-item web-development three-js">
      <img src="project-1.jpeg">
    </div><!--///////close project-item //////-->

    <div class="project-item web-development">
      <img src="project-2.jpeg">
    </div><!--///////close project-item //////-->

    <div class="project-item">
      <img src="project-3.jpeg">
    </div><!--///////close project-item //////-->

    <div class="project-item">
      <img src="project-4.jpeg">
    </div><!--///////close project-item //////-->

    <div class="project-item">
      <img src="project-5.jpeg">
    </div><!--///////close project-item //////-->

  <div><!--///close portfolio-content //////////////////// -->
</script>

