<div id="content">
</div><!--//// close content ////////-->
<!-- ////////////////////////////////////////////// index-template //////////// -->
<script type='text/template' id='index-template'>
  <div id="index-content">

  <!-- //// add a static effect over the top of this image with javascript -->
  <div class="index-logo">
    <h1 class="developer">DEVELOPER</h1>
    <h1 class="animator">ANIMATOR</h1>
    <h1 class="designer">DESIGNER</h1>
    <h1 class="idiot">IDIOT</h1>
  <img src="images/bannana3.png" class="bannana">
  </div><!--//////// close index-logo ///////////////-->

  <div><!--///close index-content //////////////////// -->
</script>

<!-- ////////////////////////////////////////////// about-template //////////// -->
<script type='text/template' id='about-template'>



  </div>
  <div id="about-content">
    <h1 class="hello">hello!</h1>
    <div class="line">
    </div><!--//////////close line/////-->
    <div id="quick-facts">
      <h2 class="qf-title">quick facts</h2>
      <div class="qf-content">
        <ul>
          <li><p>IM A 20 SOMETHING YEAR OLD WEB DEVLOPER AND I’M AS SHORT AS 7YEAR OLD</p></li>
          <li><p>I LOVE CODE AND I LOVE DESIGN</p></li>
          <li><p>I HATE BIRDS</p></li>
          <li><p>I DONT GET THAT MUCH MORE INTERESTING</p></li>
        </ul>
      </div><!--//////////close qf content //////-->
    </div><!--//////////close quick facts //////-->

    <div id="boring-facts">
      <h2 class="bf-title">longer boring-er facts</h2>
      <div class="bf-content">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web </p>
      </div><!--//////////close qf content //////-->
    </div><!--//////////close boring-facts//////-->

    <div id="contact">
      <h2 class="contact-title">drop me a line</h2>
      <div class="contact-content">
        <!-- <ul> -->
          <h2>IF YOU FOUND ANYTHING ABOUT ME INTERESTING DROP ME A LINE IF YOU WANT TO GET A BEER OR SIMPLY IF YOU JUST WANT TO DISCUSS WHY BIRDS ARE TERRIBLE. </h2>
<!--           <h3>0405 947 875</h3>
          <a href="#"></a>
          <a href="#">Portfolio</a>
          <a href="#">Skills Lab</a>
        </ul> -->
        <nav class="cl-effect-2">
          <a href="#"><span data-hover="0405 947 875">Phone</span></a>
          <a href="#"><span data-hover="daisymarie128@hotmail.com">Email</span></a>
          <a href="https://github.com/daisymarie128" target="_blank"><span data-hover="Go To GitHub">My Code</span></a>
          <a href="https://au.linkedin.com/in/daisysmith/" target="_blank"><span data-hover="Palimpsest">Palimpsest</span></a>
          <a href="#http://www.theloop.com.au/daisysmith/portfolio" target="_blank"><span data-hover="The Loop">The Loop</span></a>
        </nav>
        </div><!--//////////////close contact content///-->
    </div><!--//////////////////close contact //////////-->
  <div><!--///close about-content //////////////////// -->
</script>

<!--/////////////////////////////////////////////project model template ////////////-->

<script type='text/template' id='project-model-template'>
    <div class="item">
      <img src="{{featureImage}}" class="view-project">
    </div><!--///////// close item////////-->

</script>

<!--/////////////////////////////////////////////portfolio template ////////////-->

<script type='text/template' id='portfolio-template'>
    <div id="portfolio-container" class="js-isotope"
  data-isotope-options='{ "columnWidth": 200}'>
  <div id="portfolio-content">
    <div id="filters" class="button-group">
      <button data-filter="*" class="main-filter">show all</button>
      <button data-filter=".web-development" class="main-filter">Web Development</button>
      <button data-filter=".design" class="main-filter">Design</button>
      <button data-filter=".animation3d" class="main-filter">Animation/3D</button>
      <br>
      <button data-filter=".rails">Rails</button>
      <button data-filter=".javascript">Javascript</button>
      <button data-filter=".backbone">Backbone</button>
      <button data-filter=".three-js">Three js</button>
      <button data-filter=".phone-gap">PhoneGap</button>
      <span>|</span>
      <button data-filter=".illustrator">Illustrator</button>
      <button data-filter=".ux">UX Design</button>
      <button data-filter=".ae">After Effects</button>
      <button data-filter=".film">Film</button>
      <button data-filter=".dynamics">Dynamics</button>
    </div><!--///////////close filters //////-->

    <div id="image-holder">
      <ul id="portfolio">

    </ul>
    </div><!--//////////// close image holder ////////////-->

  <div><!--///close portfolio-content //////////////////// -->
</script>

<!--/////////////////////////////////////////////individual project template ////////////-->

<script type='text/template' id='project-template'>
  <a href="#portfolio"><div class="back">BACK</div></a>
    <ul>
      <div class="project-item-single">
      <img src="{{featureImage}}" class="project-image">
        <li class="title"><h2>{{title}}</h2></li>
        <li class="content"><h2>{{content}}</h2></li>
      </div><!--///////close project-item //////-->
    </ul>
</script>

<!--/////////////////////////////////////////////skills model template ////////////-->

<script type='text/template' id='skills-model-template'>
      <li class="title">{{title}}</li>
      <img src="{{featureImage}}" class="view-project">
      <li class="skillContent">{{content}}</li>
      {{if video}}
      <iframe src="{{video}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {{end}}
</script>

<!--///////////////////////////////////////////// skills template ////////////-->

<script type='text/template' id='skills-template'>
      <ul id="skills">

    </ul>
</script>

<!--/////////////////////////////////////////////individual skill template ////////////-->

<script type='text/template' id='skill-template'>
    <ul>
      <div class="skill-item">
        <li class="title"><h2>{{title}}</h2></li>
        <li class="title"><h2>{{content}}</h2></li>
        <img src="{{featureImage}}">
      </div><!--///////close skill-item //////-->
    </ul>
</script>

